.container {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: row;
}

.container2 {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid palevioletred;
  background: lightpink;
}
